<div class="loginContainer">
  <form>
    <h4>Login.</h4>
    <ul>
      <li>
        <label for="userId">UserId</label>
        <input id="userId" type="text">
      </li>
      <li>
        <label for="password">Password</label>
        <input id="password" type="password">
      </li>
      <li>
        <div>
          <input id="priUser" name="userType" type="radio">
          <label class="radioBtn" for="priUser">Primary User</label>          
        </div>
        <div>
          <input id="secUser" name="userType" type="radio">
          <label class="radioBtn" for="secUser">Secondary User</label>          
        </div>
      </li>
    </ul>
    <button type="button">Login</button>
  </form>
</div>
